body { margin: 0 0 0 0; padding: 0 0 0 0; overflow: hidden; font: 62.5% "Trebuchet MS", sans-serif;}
		div { margin: 0 0 0 0; padding: 0 0 0 0; }
		
#container { width: 100%; height: 100%; }

#north { height: 50px; background: #E8F2FE; font-size: 16px;}
#west { width: 220px; height: 100px; background: #C4E8FD; float:left; 
		font: 62.5% "Trebuchet MS", sans-serif;}
#center { float:left; background: #FFFFFF url('../img/bg.png') repeat fixed center; overflow: auto; }
#filterPaper { float:left; background: #FFFFFF url('../img/bg.png') repeat fixed center; overflow: auto; }
#south { height: 20px; width: 100%; background: #E8F2FE; clear:both; text-align: center;}

#north h1 { font-family: Oswald,helvetica,sans-serif; font-weight: bolder; font-size: 200%; margin: 0 0 0 10px; padding: 0 0 0 0; }
#south a {color: black; text-decoration: none;}
svg { margin: 0 0 0 0; padding: 0 0 0 0; position: relative; top: 0; left: 0; }
#zoombar, #toolbar, #radioset { width: 100%; padding: 2px; display: inline-block; font-size: 9px; }
#zoombar button {width: 48%;}
#currentZoomFactorText {display: none;}
#toolbar input {width: 60%;}
#toolbar button {width: 35%;}
#radioset label {width: 48%; font-size: 10px;}
#tree {height: 300px; overflow: auto; border: medium solid silver;}

#dialog_svg { float:left; background: #FFFFFF url('../img/bg.png') repeat fixed center; overflow: auto; }
#dialog_svg_file { float:left; background: #FFFFFF url('../img/bg.png') repeat fixed center; overflow: auto; }
#dialog_slider {margin: 0 20px 10px 5px; }
#dialog_slider .ui-slider-range { background: #ef2929; }
#dialog_slider .ui-slider-handle { border-color: #ef2929; }